<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.landenlabs.all_devtool"
    android:allowBackup="true"
    android:installLocation="auto"
    android:versionCode="1807"
    android:versionName="1.8.7" >

    <uses-sdk
        android:minSdkVersion="17"
        android:targetSdkVersion="24" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />

    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.MANAGE_USERS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <uses-permission android:name="android.permission.BLUETOOTH" />

    <!--
    <uses-permission android:name="android.permission.DUMP" />
    -->

    <!-- wake-up -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <!-- Uninstaller -->
    <uses-permission android:name="android.permission.GET_TASKS"/>

    <!-- Add shortcuts to app -->
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="com.android.launcher.permission.UNINSTALL_SHORTCUT"/>

    <!-- Flash light -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT"/>
    <uses-feature android:name="android.hardware.camera" />

    <!-- Permissions : Allows access to change screen brightness settings -->
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>

    <application
        android:allowBackup="true"
        android:allowClearUserData="true"
        android:description="@string/app_description"
        android:icon="@drawable/dev_tool"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <meta-data android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name="com.landenlabs.all_devtool.DevToolActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />

            </intent-filter>
        </activity>

        <receiver android:name="com.landenlabs.all_devtool.receivers.UninstallIntentReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REMOVED" />
                <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.landenlabs.all_devtool.receivers.AlarmService"
            android:enabled="true" />
        <receiver android:name="com.landenlabs.all_devtool.receivers.AlarmReceiver" />


        <activity
            android:icon="@drawable/shortcut_fb"
            android:label="ShortcutActivity"
            android:name="com.landenlabs.all_devtool.shortcuts.ShortcutFileBrowser">
            <intent-filter>
                <action android:name="android.intent.action.CREATE_SHORTCUT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:icon="@drawable/shortcut_gps"
            android:label="ShortcutActivity"
            android:name="com.landenlabs.all_devtool.shortcuts.ShortcutGPS">
            <intent-filter>
                <action android:name="android.intent.action.CREATE_SHORTCUT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:icon="@drawable/shortcut_pkg"
            android:label="ShortcutActivity"
            android:name="com.landenlabs.all_devtool.shortcuts.ShortcutPackage">
            <intent-filter>
                <action android:name="android.intent.action.CREATE_SHORTCUT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:icon="@drawable/shortcut_scn"
            android:label="ShortcutActivity"
            android:name="com.landenlabs.all_devtool.shortcuts.ShortcutScreen">
            <intent-filter>
                <action android:name="android.intent.action.CREATE_SHORTCUT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>